.draglement {
  background-color: #3498db;
  box-shadow: -4px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -4px 2px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 2px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  color: white;
  padding: 5px;
  margin-bottom: 1.5rem;
  cursor: move;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
}


